// ============================
// MIXINS
// ============================

// create flexbox mixin
@mixin flexy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

// create grid mixin
@mixin grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

// mixin for media queries
@mixin media-qry($point) {
  @if $point == 'large' {
    @media(min-width: $large) {
      @content;
    }
  }
  @else if $point == 'med' {
    @media(min-width: $med) {
      @content;
    }
  }

}
