//==============================
//        VARIABLES
//==============================

// Text Styles
$font-stack: 'Poppins', sans-serif;
$primary-color: #888888;
$secondary-color: #9E9E9E;
$hover-color: #C9D0F7;
$border: #EEEEEE;

// media query breakpoints
$med: 768px;
$large: 1024px;
