//=================================
// PAGE LAYOUTS
//=================================

.title {
  text-align: center;
  @include media-qry(med) {
    @include flexy;
    margin: 10px;
  }

}

#search {
  border-radius: 8px;
  padding: 10px;
  width: 50%;
  &:focus {
    outline: none;
    background-color: lighten($hover-color, 8%);
  }
  @include media-qry(med) {
    margin-left: auto;
    margin-right: 15px;
    width: 40%;
  }
}

.gallery {
  margin: 50px 0;
  @include media-qry(med) {
    @include grid;
    margin: 10px;
  }
}

.box {
  border: 2px solid $border;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  &:hover {
    background-color: $hover-color;
    opacity: 0.8;
    cursor: pointer;
  }
  @include media-qry(large) {
    width: 390px;
    height: 150px;
    margin: 10px 0;
  }
}

.gall-photo {
  @extend %circle;
  float: left;
  padding: 5px;
  margin-top: 20px;
  margin-left: 15px;
  width: 75px;
  height: 75px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100%;
}

.name {
  color: $secondary-color;
}

.location,
.name {
  @extend %capitalize;
}

.disabled {
  pointer-events: none;
  border: 1px solid $secondary-color;
}

.hide {
  visibility: hidden;
}

.overlay {
  background-color: lighten($secondary-color, 10%);
}
