//=============================
// MODAL STYLES
//=============================

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  width: 315px;
  height: 360px;
  border-radius: 10px;
  padding: 15px 20px;
  transform: translate(-50%, -50%);
  background-color: white;
  @include media-qry(med) {
    width: 350px;
    height: 410px;
    padding: 5px 10px;
  }
  @include media-qry(large) {
    width: 385px;
    height: 450px;
  }
}

.modal_details {
  @extend %capitalize;
  text-align: center;
  display: block;
  color: #C2C2C2;
}

.modal_email {
  text-transform: lowercase;
}

.pic_wrap {
  text-align: center;
}

.modal_img {
  width: 50px;
  margin: 10px auto;
  @include circle;
  float: none;
  @include media-qry(med) {
    width: 100px;
    margin: 15px auto;
  }
}

.close {
  float: right;
  padding: 5px;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
    border: 1px solid $primary-color;
  }
}

.arrow_buttons {
  display: flex;
  justify-content: space-around;
  height: 50px;
  @include media-qry(large) {
    margin: auto;
  }
}

.prev,
.next {
  text-decoration: none;
  font-size: 30px;
  color: $primary-color;
  padding: 10px;
  border-radius: 10px;
  &:hover {
    opacity: 0.8;
    background-color: darken($hover-color, 5%);
  }
}
