//=============================
// MODAL STYLES
//=============================

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 480px;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
}

.modal_details {
  @extend %capitalize;
  text-align: center;
  display: block;
  font-family: "Arial", sans-serif;
  color: #C2C2C2;
}

.modal_email {
  text-transform: lowercase;
}

.pic_wrap {
  text-align: center;
}

.modal_img {
  width: 50px;
  @extend %circle;
  float: none;
}

.close {
  float: right;
  padding: 5px;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
    border: 1px solid $primary-color;
  }
}

.arrow_buttons {
  display: flex;
  justify-content: space-around;
  height: 50px;
  text-decoration: none;
}
