//=============================
// MODAL STYLES
//=============================

.modal {
  position: absolute;
  // top: 50%;
  // left: 50%;
  border-radius: 10px;
  // padding: 5px 30px 5px 30px;
  // transform: translate(-50%, -50%);
  background-color: white;
  @include media-qry(med) {
    height: 500px;
    width: 480px;
  }
}

.modal_details {
  @extend %capitalize;
  text-align: center;
  display: block;
  color: #C2C2C2;
}

.modal_email {
  text-transform: lowercase;
}

.pic_wrap {
  text-align: center;
}

.modal_img {
  width: 30px;
  @include circle;
  float: none;
  @include media-qry(med) {
    width: 50px;
  }
}

.close {
  float: right;
  padding: 5px;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
    border: 1px solid $primary-color;
  }
}

.arrow_buttons {
  display: flex;
  justify-content: space-around;
  height: 50px;
  text-decoration: none;
}
