// ==============================
// BASE ELEMENT STYLES
// ==============================

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

h2 {
  color: $primary-color;
  font-size: 18px;
  text-align: center;
  @include media-qry(med) {
    font-size: 20px;
    text-align: left;
  }
}

h3 {
  font-size: 16px;
  @include media-qry(large) {
    font-size: 14px;
  }
}

p {
  color: $secondary-color;
  font-size: 11px;
  @include media-qry(large) {
    font-size: 13px;
  }
}

hr {
  width: 50%;
}
