// ==============================
// BASE ELEMENT STYLES
// ==============================

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

h2 {
  color: $primary-color;
  font-size: 18px;
  text-align: center;
  @include media-qry(med) {
    font-size: 22px;
    text-align: left;
  }
}

p {
  color: $secondary-color;
}
